{% extends 'profile/index.html'%}
	{%block content%}
    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
						{% load static %}
						<img style="width: 100px; height: 100px;" src="{% static 'images/image_1_HEQflyA.jpg' %}" class=".avatar">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
								  <th>PERSONAL INFORMATION</th>
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="text-center">
						        <td class="product-name">
						        	<h3>First Name</h3>
						        </td>
						        <td class="price" value="first_name">
									<h6 >{{data.first_name}}</h6>
									
								</td>
								<td class="product-remove" id="td"><a href="#" id="firstnameedit">Edit</a></td>
							  </tr><!-- END TR-->
							  <tr class="text-center">
						        <td class="product-name">
						        	<h3>Last Name</h3>
						        </td>
						        <td class="price"  value="last_name"><h6 >{{data.last_name}}</h6></td>
								<td class="product-remove"><a href="#" id="firstnameedit">Edit</a></td>
							  </tr><!-- END TR-->
							  
							  <tr class="text-center">
						        <td class="product-name">
						        	<h3>Phone Number</h3>
						        </td>
						        <td class="price" value="phone"><h6 >{{data.phone}}</h6></td>
								<td class="product-remove"><a href="#" id="firstnameedit">Edit</a></td>
							  </tr><!-- END TR-->
							  <tr class="text-center" >
						        <td class="product-name">
						        	<h3>Password</h3>
						        </td>
								<td class="price" value="password">
									<h6  style="font-weight: bold;">..........</h6>
									
								</td>
								
								<td class="product-remove"><a href="#" id="firstnameedit">Edit</a></td>
							  </tr><!-- END TR-->
							  <tr class="text-center">
						        <td class="product-name">
									<h3>Email</h3>
									
						        </td>
						        <td class="price" value="email">
									<h6 >{{data.email}}</h6>
									
								</td>
							  </tr>
							  
						    </tbody>
						  </table>
					  </div>
    			</div>
			</div>
			{% if  not extra_info.0.country%}
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div>
    					<h3>Extra Information</h3>
    				</div>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
					<div class="cart-total mb-3">
						<h3>Add Extra Informaion</h3>
						<form action="/user/addExtrainformation/{{data.user_id}}" method="POST" class="info">{%csrf_token%}
							<div class="form-group">
								<label for="">Country</label>
								<input type="Text" class="form-control text-left px-3" name="country" required>
							</div>
							<div class="form-group">
								<label for="country">Facebook Link</label>
								<input type="url" class="form-control text-left px-3" name="facebook" required>
							</div>
							<div class="form-group">
								<label for="country">Birthdate</label>
								<input type="date" class="form-control text-left px-3" name="birthdate" required>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary py-3 px-4"  placeholder="">Submit</button>
							</div>
						</form>
    				</div>
			</div>
			{%endif%}
			{% if  extra_info.0.country%}
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div>
    					<h3>Extra Information</h3>
    				</div>
				</div>
			<div class="container" >
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
								  <!-- <th>PERSONAL INFORMATION</th>
						        <th>&nbsp;</th>
						        <th>&nbsp;</th> -->
						      </tr>
						    </thead>
						    <tbody>
						      <tr class="text-center">
						        <td class="product-name">
						        	<h3>Country</h3>
						        </td>
						        <td class="price" value="country">
									<h6 >{{extra_info.0.country}}</h6>
									
								</td>
								<td class="product-remove" id="td"><a href="#" >Edit</a></td>
							  </tr><!-- END TR-->
							  <!-- END TR-->
							  <tr class="text-center">
						        <td class="product-name">
						        	<h3>BirthDate</h3>
						        </td>
								<td class="price" value="Birth_day" >
									<h6 >{{extra_info.0.Birth_day}}</h6>
									
								</td>
								<td class="product-remove" ><a href="#">Edit</a></td>
							  </tr><!-- END TR--> 
							  <tr class="text-center">
						        <td class="product-name">
									<h3>FaceBook</h3>
									
						        </td>
						        <td class="price" value="FB_link"  >
									<h6  >{{extra_info.0.FB_link}}</h6>
									
								</td>
							  </tr>
							  <tr class="text-center">
						        <td class="product-name">
									
						        </td>
						        <td>
									
								</td>
								<td class="price">
									
								</td>
							  </tr>

						    </tbody>
						  </table>
						  
					  </div>
    			</div>
    		</div>
			{%endif%}
			{%if projects.0.title%}
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div>
    					<h3>Your Projects</h3>
    				</div>
				</div>
				{%for project in projects%} 
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate" style="display: inline-block;">
    				<div class="cart-total mb-3">
    					<h3>{{project.project_name}}</h3>
    					<p class="d-flex">
    						<span>Start Date</span>
    						<span>{{project.start_date}}</span>
    					</p>
    					<p class="d-flex">
    						<span>End Date</span>
    						<span>{{project.end_date}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Maximum Target</span>
    						<span>{{project.max_target}}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Average Rate</span>
    						<span>{{project.average_rate}}</span>
    					</p>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
				</div>
				{%endfor%}
				</div>
				{%else%}
					<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
						<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Add Your Projects Now!</a></p>
					</div>
				{%endif%}
				{%if  projects_user_donate_for%}
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div>
    					<h3>The Projects You Donate For</h3>
    				</div>
				</div>
				{%for project_donation in projects_user_donate_for%} 
    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate" style="display: inline-block;">
    				<div class="cart-total mb-3" style="display: inline-block;">
    					<h3>{{project_donation.project_name}}</h3>
    					<p class="d-flex">
    						<span>Start Date</span>
    						<span>{{project_donation.start_date}}</span>
    					</p>
    					<p class="d-flex">
    						<span>End Date</span>
    						<span>{{project_donation.end_date}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Maximum Target</span>
    						<span>{{project_donation.max_target}}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Amount</span>
    						<span>{{project_donation.amount}} $</span>
    					</p>
    				</div>
    				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
				</div>
				{%endfor%}
				</div>
				{%endif%}
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
					<a href="" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Remove MY Account</a>
				</div>
			</div>
			
			</div>

		</section>
{%endblock%}