{% extends 'auth/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card mt-4">
                        <img class="card-img-top" src="{% static "img/img.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Sign in to upload your project</h5>
                            <a href="#" class="btn btn-sm btn-block btn-primary">Login with facebook</a>
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    or
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{message}}
                                </div>
                            {% endfor%}
                            {% endif %}

                            <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="email" name="email" value="{{data.email}}" placeholder="Email">

                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="text" name="fname" value="{{data.fname}}" placeholder="firstname">
                                    
                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="text" name="lname" value="{{data.lname}}" placeholder="lastname">
                                    
                                </div>
                               
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="password" name="password" value="" placeholder="password">
                                    
                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control-sm" type="password" name="password2" value="" placeholder="confirm password">
                                    
                                </div>
                                {{ profile_form.as_p }}
                                <input type="submit" value="register" class="bnt btn-sm btn-block btn-primary">
                            </form>
                            <small class="py-3">
                                By signing up you agree our terms.
                            </small>
                        </div>
                    </div>
                    <div class="card mb-4 mt-2">
                        <div class="card-body">
                            Already have an account?<a href="{% url 'login' %}">Login </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}